.success_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.success_form_head_title {
    text-align: center;
    margin-bottom: 50px;
    h2 {
        font-size: 28px;
        color: rgb(59, 59, 59);
        margin-bottom: 5px;
    }
    .success_form_title {
        color: rgb(131, 131, 131);
        letter-spacing: 0.5px;
        font-size: 18px;
        font-weight: 200;
    }
}

.success_form_block {
    padding: 45px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 0px 25px rgba(4, 42, 100, 0.2);
    width: 430px;
    min-height: 400px;
    text-align: center; 
    padding: 50px;
}
.exclamationIcon {
    margin-bottom: 50px;
    margin-top: 50px;
}
.confirm_block {
    padding-bottom: 100px;
}
.confirm_account_h3, .email_sent_title {
    padding-bottom: 20px;
    padding-top: 20px;
}
.confirm_account_h3 {
    font-size: 20px;
}
.email_sent_title {
    color: rgb(131, 131, 131);
    letter-spacing: 0.5px;
    font-size: 16px;
    font-weight: 200;
}